/**RESET**/
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'),
		url(fonts/google/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff)
		format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'),
		url(fonts/google/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff)
		format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: local('Open Sans Semibold'), local('OpenSans-Semibold'),
		url(fonts/google/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff)
		format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'),
		url(fonts/google/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff)
		format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 800;
	src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'),
		url(fonts/google/EInbV5DfGHOiMmvb1Xr-hqRDOzjiPcYnFooOUGCOsRk.woff)
		format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 300;
	src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'),
		url(fonts/google/PRmiXeptR36kaC0GEAetxvR_54zmj3SbGZQh3vCOwvY.woff)
		format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	src: local('Open Sans Italic'), local('OpenSans-Italic'),
		url(fonts/google/xjAJXh38I15wypJXxuGMBrrIa-7acMAeDBVuclsi6Gc.woff)
		format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 600;
	src: local('Open Sans Semibold Italic'),
		local('OpenSans-SemiboldItalic'),
		url(fonts/google/PRmiXeptR36kaC0GEAetxuw_rQOTGi-AJs5XCWaKIhU.woff)
		format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 700;
	src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
		url(fonts/google/PRmiXeptR36kaC0GEAetxhbnBKKEOwRKgsHDreGcocg.woff)
		format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 800;
	src: local('Open Sans Extrabold Italic'),
		local('OpenSans-ExtraboldItalic'),
		url(fonts/google/PRmiXeptR36kaC0GEAetxsBo4hlZyBvkZICS3KpNonM.woff)
		format('woff');
}

html {
	height: 100%;
	background-color: #FFFFFF;
}

body {
	padding: 0;
	margin: 0;
	height: 100%;
	font-family: sans-serif;
	font-weight: normal;
	font-size: 11px;
	overflow: auto;
}

div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,input,textarea,p,blockquote,table,thead,tbody,tr,th,td,address,caption,img,cite,code,dfn,var,ol,ul,li
	{
	margin: 0;
	padding: 0;
}

/*table {
	border-collapse: collapse;
	border-spacing: 0;
}
*/
img {
	border: 0;
}

address,caption,cite,code,dfn,th,var {
	font-style: normal;
	font-weight: normal;
}

ol,ul {
	list-style: none;
}

caption,th {
	text-align: left;
}

q:before,q:after {
	content: '';
}

abbr,acronym {
	border: 0;
}

hr {
	display: none;
}

address {
	display: inline
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
}

h3,h4,h5,h6,strong {
	font-weight: bold;
}

em {
	font-style: italic
}

img,.input_check,.input_radio {
	vertical-align: middle
}

table { /*width: 100%;*/
	
}

td {
	padding: 0px;
	vertical-align: middle;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/*Body Start*/
.nomargin {
	margin: 0px;
}

.white {
	color: #ffffff;
}

/*Body End*/
/*Content Alignment Styling Begins*/
.program-link {
	font-size: 9pt;
	line-height: 20px;
	text-decoration: underline;
	cursor: pointer;
	color: #666D82;
	text-decoration: underline;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	/*display: block;*/
	clear: both;
	max-width: 232px;
}

.navigate-div-odd span {
	font-size: 11px;
	cursor: pointer;
	color: #33333;
	margin-left: 1em;
}

.navigate-div-even span {
	font-size: 11px;
	cursor: pointer;
	color: #33333;
	margin-left: 1em;
}

.navigate-div-odd {
	color: #1F7303;
	cursor: pointer;
	font-size: 9pt;
	line-height: 26px;
	background-color: #FFFFFF;
	width: 100%;
	text-indent: 4px;
}

.navigate-div-even {
	color: #1F7303;
	cursor: pointer;
	font-size: 9pt;
	line-height: 26px;
	background-color: #FFFFFF;
	width: 100%;
	text-indent: 4px;
}

.navigation-select {
	background-color: #C7DAED;
}

.navigation-link {
	color: #666D82;
	padding-top: 6px;
	padding-bottom: 6px;
}

.header-separator {
	font-size: 10px;
	cursor: default;
	color: #333333;
	font-weight: bold;
}

.header-link {
	font-size: 9pt;
	text-decoration: underline;
	cursor: pointer;
	color: #333333;
}

.action-link {
	font-size: 10px;
	text-decoration: underline;
	cursor: default;
	color: #0000ff;
}

.alignbottomright {
	margin: 0px;
	float: right;
	margin-right: 0.2em;
	margin-left: 0.2em;
	float: right;
}

.alignbottomleft {
	margin: 0px;
	float: left;
	padding-left: 0.5em;
}

.textalign-right {
	text-align: right;
}

.textalign-left {
	text-align: left;
}

.textalign-center {
	text-align: center;
}

/*Content Alignment Styling Ends*/
/*Text Styling Begins*/
.level1_title {
	color: #000000;
	border: 0px;
	border-bottom: solid 1px #999999;
	padding: 4px;
	padding-bottom: 2px;
	padding-top: 2px;
	font-size: 14px;
	font-weight: bold;
}

.level3-header td p {
	line-height: 23px;
}

.level3-header td p a {
	color: #0000ee;
}

.level3-header {
	color: #333333;
	font-size: 9pt;
	font-weight: bold;
}

.level4_title {
	padding: 1px 8px 1px 6px;
	width: 90%;
	line-height: 20px;
	font-size: 10pt;
	font-weight: bold;
	color: #333333;
	whitespace: nowrap;
}

.level1_info {
	font-size: 14px;
	font-weight: bold;
	color: #666D82;
}

.level2_info {
	font-size: 13px;
	font-weight: bold;
	color: #666D82;
}

.level3_info {
	font-size: 12px;
	font-weight: bold;
	color: #666D82;
	color: #ffffff;
}

.level4_info {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	/*color: #004993;*/
	color: #333333;
}

.highlight_info {
	color: #666D82;
}

.highlight-link {
	color: #ffffff;
}

.level5_info {
	font-size: 10px;
	font-weight: normal;
	color: #666D82;
	position: relative;
	padding: 0px;
	margin: 0px;
	margin-left: 2px;
}

.level4_error {
	font-size: 11px;
	font-weight: normal;
	color: #f75353;
	position: relative;
	padding: 0px;
	margin: 0px;
	margin-left: 2px;
	display: block;
	/*float: left;*/
	/*display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
	clear: both;*/
}

.level4_description {
	font-size: small;
	/*font-weight: bold;*/
	color: #551b73;
	position: relative;
	padding: 0px;
	margin: 0px;
}

.level4_message {
	padding-left: 10px;
	font-size: 11px;
	color: #ff0000;
	position: relative;
	padding: 0px;
	margin: 0px;
	text-align: left;
}

.error {
	border: dashed 1px #ff0000;
	padding: 2px;
	color: #ff0000;
}

.note {
	border: dashed 1px #0000ff;
	padding: 2px;
	color: #037328;
}

.highlight-title {
	/* Aribala changed on 16072013 */
	/*background-color: #D3DCE0;*/
	background-color: #FFF3E8;
}

/*Text Styling Ends*/
/*User Details End*/
/*View Start*/
input,select {
	font-size: small;
	font-weight: initial;
	/*padding: 2px;*/
	/*height: 21px;*/
}

input[readonly] {
	background-color: #EEEEEE;
}

/*View End*/
#po_view1 {
	padding: 0px;
	padding-right: 0px;
	padding-left: 0px;
}

#po_view2 {
	padding: 0px;
	padding-right: 0px;
	padding-left: 0px;
}

#po_view3 {
	padding: 0px;
	padding-right: 0px;
	padding-left: 0px;
}

#po_view1 h5.info {
	color: #222222;
	border: 0 none;
	font-size: 11px;
	font-weight: normal;
	line-height: 23px;
	padding-left: 1em;
	text-align: center;
}

#po_view1 h5 a {
	color: blue;
	border: 0 none;
	font-size: 11px;
	font-weight: normal;
	line-height: 23px;
	padding-left: 1em;
	text-align: center;
}

h5.status {
	color: #222222;
	border: 0 none;
	font-size: 13px;
	font-weight: normal;
	line-height: 23px;
	padding-left: 1em;
	text-align: center;
}

.hidden {
	display: none;
}

.block {
	display: block;
}

.table {
	display: table;
}

.clear {
	clear: both
}

.clearfix {
	overflow: auto
}

.right {
	float: right
}

.left {
	float: left
}

.markboundary-left {
	margin-left: 1px;
}

.markboundary {
	margin-left: 1px;
	margin-right: 1px;
}

.fld {
	margin: 2px;
}

.fld_nxt {
	margin: 2px;
}

.button {
	font-size: 11px;
	font-weight: bold;
	height: 24px;
	width: 72px;
	vertical-align: middle;
	background-color: #1D3652;
	color: #eeeeee;
}

#header {
	background-color: #E9E4E0;
}

.announcement_box {
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #d5dde5;
	padding: 10px;
	padding-bottom: 2px;
	margin-bottom: 4px;
}

.announcement_box h3 {
	background: none repeat scroll 0 0 #bdbfbc;
	color: #1D3652;
	border: 0 none;
	font-size: 110%;
	margin: -10px -10px 5px;
	padding: 5px;
}

.announcement_box  p {
	border: 1px solid #B0CE94;
	color: #3E4934;
	line-height: 150%;
	padding: 10px 10px 10px 30px;
	background-color: #F1F6EC;
}

.view_box {
	border: 1px solid #d5dde5;
}

.view_box  p {
	border: 1px solid #B0CE94;
	color: #3E4934;
	line-height: 150%;
	padding: 10px 10px 10px 30px;
	background-color: #F1F6EC;
}

.category_block {
	border: 0px;
	border-top: solid 0px #cccccc;
}

.block_wrap {
	padding: 5px 0;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.table_wrap {
	width: 100%;
	border: 0px none;
	border-bottom: solid 0px #D5DDE5;
}

.table_no_wrap {
	width: 100%;
	border: 0px none;
}

.announcement_wrap {
	width: 98%;
	border: solid 1px #B0CE94;
	margin: auto;
	height: 97%;
	padding: 0px;
	margin-bottom: 4px;
	background-color: #ffffff;
}

.login_wrap {
	width: 320px;
	border: solid 1px #B0CE94;
	margin: auto;
	height: 97%;
	padding: 0px;
	margin-bottom: 4px;
	background-color: #ffffff;
	margin-left: 0.2em;
	margin-top: 0.2em;
}

.po_table_heading {
	font-size: 1em;
	font-weight: bold;
	text-decoration: underline;
}

.div_wrap {
	width: 100%;
	border: 0px none;
}

.form_table {
	border-collapse: collapse;
	background-color: white;
	border: solid 1px #cacaca;
	border: 0px;
	width: 100%;
}

.form_table td {
	border: solid 0px #cccccc;
	vertical-align: middle;
	/*padding-top: 2px;*/
}

.form_table_inner {
	border-collapse: collapse;
	/*background-color: white;*/
	border: solid 0px #cacaca;
}

.form_table_inner td {
	border: solid 0px #cccccc;
	/*line-height: 20px;*/
	/*
	vertical-align: top;*/
	vertical-align: middle;
}

.form_table_inner tr {
	border: solid 0px #cccccc;
}

.display_table td {
	border: solid 0px #cccccc;
}

.display_table {
	border-collapse: separate;
	background-color: white;
}

.announcement_table {
	border: solid 0px #cccccc;
	background-color: # #F1F6EC;
}

.announcement_table td {
	line-height: 18px;
}

.legend {
	padding: 1px 8px 1px 6px;
	font-size: 70%;
	font-weight: normal;
	text-align: left;
	width: 90%;
	line-height: 20px;
}

.input {
	background-color: white;
	border: 1px solid #7F9DB9;
	border: solid 1px #cccccc;
	height: 18px;
	overflow: hidden;
	position: relative;
	text-align: left;
	padding: 0px;
	margin-bottom: 2px;
	float: left;
}

.customer-code {
	width: 180px;
	/*border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	behavior: url(ie-css3.htc);*/
}

.customer-code input {
	position: relative;
	border: 0px;
	width: 178px;
	padding: 1px;
	font-size: 12px;
	font-weight: normal;
	top: 0px;
	text-align: left;
	text-transform: uppercase;
}

select {
	font-size: 12px;
	font-weight: normal;
	height: 25px;
}

input,select,textarea { /*float: left;*/
	display: -moz-inline-stack;
	display: inline-block !important;
	zoom: 1;
	*display: inline;
}

input.checkbox {
	border: solid 1px #999999;
	height: 25px;
}

input.amount {
	border: solid 1px #999999;
	height: 25px;
	text-align: right;
}

input.time {
	border: solid 1px #999999;
	height: 25px;
}

input.date {
	border: solid 1px #999999;
	height: 25px;
}

input.code-help {
	border: solid 1px #999999;
	text-transform: uppercase;
}

input.code {
	border: solid 1px #999999;
	text-transform: uppercase;
	height: 25px;
}

input.password {
	border: solid 1px #999999;
	height: 25px;
}

input.text {
	border: solid 1px #999999;
	height: 25px;
}

select.text {
	border: solid 1px #999999;
	height: 25px;
}

textarea.text {
	border: solid 1px #999999;
	font-weight: initial;
	font-size: small;
	padding-left: 2px;
	height: initial;
}

input.pic {
	height: 16px;
	position: relative;
	top: 3px;
	width: 16px;
	margin-left: 5px;
	border: 0px;
}

.focus-input {
	outline: none;
	border: 1px solid #666d73 !important;
	box-shadow: 0 0 10px 1px rgba(72, 255, 0, 1);
	-webkit-box-shadow: 0 0 10px 1px rgba(47, 118, 152, 1);
	-moz-box-shadow: 0 0 10px 1px rgba(72, 255, 0, 1);
	*background-color: #FFF1CC;
}

.blur-input {
	border-color: #C0C0C0 #999999 #999999;
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
}

.readonly-input {
	border: 1px solid #C3C3C3;
	background-color: #EEEEEE;
}

.special-code-help {
	width: 280px;
	/*border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	behavior: url(ie-css3.htc);*/
}

.special-code-help input {
	position: relative;
	border: 0px;
	width: 252px;
	padding: 1px;
	font-size: 12px;
	font-weight: normal;
	top: 0px;
	text-align: left;
	text-transform: uppercase;
	float: left;
}

.output {
	width: 80px;
	/*border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	behavior: url(ie-css3.htc);*/
}

.combo { /*border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	behavior: url(ie-css3.htc);*/
	border: solid 1px #cccccc;
	text-align: center;
}

.custom {
	width: 200px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	behavior: url(ie-css3.htc);
}

.custom input {
	border: 0px;
	width: 180px;
	padding: 1px;
	font-size: 12px;
	font-weight: normal;
	text-align: left;
}

.custom .icon {
	height: 12px;
	position: relative;
	left: 2px;
	top: 0px;
	width: 12px;
}

.email {
	width: 240px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	behavior: url(ie-css3.htc);
}

.email input {
	border: 0px;
	width: 236px;
	padding: 1px;
	font-size: 12px;
	font-weight: normal;
	text-align: left;
	float: left;
}

.number {
	width: 96px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	behavior: url(ie-css3.htc);
}

.number input {
	border: 0px;
	width: 90px;
	padding: 1px;
	font-size: 12px;
	font-weight: normal;
	text-align: left;
	float: left;
}

.twoDnumber {
	width: 36px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	behavior: url(ie-css3.htc);
}

.twoDnumber input {
	border: 0px;
	width: 30px;
	padding: 1px;
	font-size: 12px;
	font-weight: normal;
	text-align: left;
	float: left;
}

.days {
	width: 56px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	behavior: url(ie-css3.htc);
}

.days input {
	border: 0px;
	width: 50px;
	padding: 1px;
	font-size: 12px;
	font-weight: normal;
	text-align: left;
	float: left;
}

.seconds {
	width: 56px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	behavior: url(ie-css3.htc);
}

.seconds input {
	border: 0px;
	width: 50px;
	padding: 1px;
	font-size: 12px;
	font-weight: normal;
	text-align: left;
	float: left;
}

input.patientReg {
	border: solid 1px #999999;
	height: 25px;
	text-transform: uppercase;
}

input.dynamicIntDec {
	border: solid 1px #999999;
	height: 25px;
	text-align: right;
}

input.empCodeFormat {
	border: solid 1px #999999;
	height: 25px;
	text-transform: uppercase;
}

.checkbox {
	border: 0px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	behavior: url(ie-css3.htc);
}

.calendar {
	
}

.list {
	
}

.eraser {
	
}

.help {
	
}

.display {
	
}

div.display {
	width: 102px;
}

.message {
	overflow: hidden;
	position: relative;
	text-align: left;
	padding: 1px;
	/*margin: 2px;
	margin-left: 2px;
	margin-top: 0px;*/
	margin: 0px;
	float: left;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	behavior: url(ie-css3.htc);
}

.message .pic {
	height: 15px;
	position: relative;
	left: 0;
	top: 0;
	width: 16px;
	margin-left: 1px;
	margin-top: -2px;
}

.message span { /*height: 100%;*/
	
}

h5.info { /*background-color: #f8efd1;*/
	font-size: 70%;
	font-weight: bold;
	color: #666D82;
}

h3 .pic {
	height: 16px;
	top: 0px;
	width: 16px;
}

h2.logintitle .pic {
	position: relative;
	height: 22px;
	width: 22px;
	margin-right: 4px;
	top: -2px;
}

h2 .pic {
	height: 16px;
	top: 0px;
	width: 16px;
}

li .pic {
	height: 5px;
	width: 10px;
	margin-left: 3px;
	top: -3px;
}

li .icon {
	height: 14px;
	width: 14px;
	margin-right: 4px;
	top: -1px;
}

.row {
	color: #333333;
	font-size: 11px;
	font-weight: bold;
	background-color: #ffffff;
	border: 0px;
	border-top: solid 0px #CACACA;
	border-bottom: solid 0px #CACACA;
}

.row span.frm_fld_lgnd {
	margin-left: 4px;
}

.row_odd {
	background-color: #ffffff;
	border: 0px;
	border-top: solid 0px #CACACA;
	border-bottom: solid 0px #CACACA;
}

.row_even {
	background-color: #eeeeee;
	border: 0px;
	border-top: solid 0px #CACACA;
	border-bottom: solid 0px #CACACA;
}

.hide {
	display: none
}

body .maintitle {
	background: #C1c1c1;
	background-image: url(images/skin_light_header.png);
	color: #333333;
	font-size: 11px;
	line-height: 24px;
}

body .maintitle a {
	color: #fff
}

body .logintitle {
	background: #1861ab;
	color: #ffffff;
	font-size: 13px;
}

body .logintitle a {
	color: #fff
}

body .po_content {
	padding: 0em;
	padding-top: 0.3em;
}

.po_time {
	color: gray;
	font-size: 1em;
}

.po_user {
	color: red;
	font-size: 1em;
}

.po_subject {
	color: blue;
	font-size: 1em;
}

.po_read {
	color: #666D82;
	font-size: 1em;
}

.po_unread {
	color: red;
	font-size: 1em;
}

tr.ann_row td a {
	color: blue;
	font-size: 1em;
	text-decoration: none;
}

tr.ann_row td a:hover {
	color: blue;
	font-size: 1em;
	text-decoration: underline;
}

.width-33p {
	width: 33%;
}

.width-34p {
	width: 34%;
}

.width-100p {
	width: 100%;
}

.width-auto {
	width: auto;
}

.width-66p {
	width: 66%;
}

.width-50p {
	width: 50%;
}

.width-75p {
	width: 75%;
}

.width-49p {
	width: 49%;
}

.width-24p {
	width: 24%;
}

.width-25p {
	width: 25%;
}

.width-2px {
	width: 2px;
}

.auto-center {
	margin-left: auto;
	margin-right: auto;
}

.rounded {
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	behavior: url(ie-css3.htc);
}

.diag_rounded_ltrb {
	border-radius: 6px 0px 6px 0px;
	-moz-border-radius: 6px 0px 6px 0px;
	-webkit-border-radius: 6px 0px 6px 0px;
	-khtml-border-radius: 6px 0px 6px 0px;
	behavior: url(ie-css3.htc);
}

.diag_rounded_lbrt {
	border-radius: 0px 6px 0px 6px;
	-moz-border-radius: 0px 6px 0px 6px;
	-webkit-border-radius: 0px 6px 0px 6px;
	-khtml-border-radius: 0px 6px 0px 6px;
	behavior: url(ie-css3.htc);
}

.top_rounded {
	border-radius: 6px 6px 0px 0px;
	-moz-border-radius: 6px 6px 0px 0px;
	-webkit-border-radius: 6px 6px 0px 0px;
	-khtml-border-radius: 6px 6px 0px 0px;
	behavior: url(ie-css3.htc);
}

.bottom_rounded {
	border-radius: 0px 0px 6px 6px;
	-moz-border-radius: 0px 0px 6px 6px;
	-webkit-border-radius: 0px 0px 6px 6px;
	-khtml-border-radius: 0px 0px 6px 6px;
	behavior: url(ie-css3.htc);
}

.filter_bar {
	font-size: 0.8em;
	text-align: center;
	margin: 6px 0 0 0;
	padding: 6px
}

.filter_bar select {
	margin-right: 10px
}

.filter_bar span.clickable {
	display: block
}

.filter_bar {
	background-color: #1d3652;
	color: #d5dde5
}

.filter_bar a,.filter_bar label {
	color: #d5dde5
}

#stat_links {
	color: #69727b;
	font-size: 0.85em;
	text-align: center !important;
	margin-top: 25px
}

#stat_links li {
	padding: 2px 6px
}

#stat_links li {
	display: inline
}

#stat_links a {
	color: #fff;
	text-decoration: none
}

#po_header {
	position: relative;
	background-color: #cccccc;
}

#po_branding {
	background: url(images/banner.gif) repeat scroll center top #ffffff;
	min-height: 84px;
	height: 84px;
	z-index: 29;
}

#po_header_bar {
	/*background:url(images/menu.png) repeat-x scroll center bottom #ffffdd;*/
	background-color: #264E78;
	min-height: 32px;
	height: 32px;
	border: solid 1px #ececec;
	z-index: 30;
}

/*Footer styles begin here*/
#po_footer {
	*border-top: 1px solid #666666;
	clear: both;
	margin: 10px 10px 20px;
	padding: 8px 8px 15px;
	top: 20px;
	text-align: center;
}

#po_footer_links	a {
	color: #444444;
	font-size: 11px;
	text-decoration: none;
}

#po_footer_links	a:hover {
	text-decoration: underline;
}

ul#po_footer_links	li {
	display: inline;
	padding-right: 8px;
}

#po_copyright {
	float: right;
	border: solid 1px #666666;
	line-height: 150%;
	background-color: #F1F6EC;
	padding: 10px 10px 10px 30px;
	margin-top: -16px;
	margin-bottom: 4px;
	font-size: 11px;
}

#po_copyright a {
	text-decoration: none;
}

#po_copyright a:hover {
	text-decoration: underline;
}

/*Footer styles end here*/
.disc-right {
	border-right: solid 1px #ffffff;
}

.disc-left {
	border-left: solid 2px #ffffff;
}

.common-heading {
	margin-bottom: 0px;
}

.intellect-logo {
	border: 0;
	line-height: 4px;
	background-color: white;
	background-position: top right;
	background-repeat: no-repeat;
	float: right;
}

.customer-logo {
	margin: 2px;
	margin-bottom: 0px;
	float: left;
}

.drop-list {
	border: 1px solid #7F9DB9;
	border-top: none;
	height: 180px;
	width: 200px;
	position: absolute;
	background-color: #ffffff;
	margin-top: 21px;
	z-index: 40;
	border-radius: 0px 0px 6px 6px;
	-moz-border-radius: 0px 0px 6px 6px;
	-webkit-border-radius: 0px 0px 6px 6px;
	-khtml-border-radius: 0px 0px 6px 6px;
	behavior: url(ie-css3.htc);
}

.drop-list ul {
	background-color: #ffffff;
}

.drop-list li {
	line-height: 16px;
	text-align: center;
	border: 0px;
	border-top: solid 1px #eeeeee;
	border-bottom: solid 1px #eeeeee;
	border-collapse: collapse;
	font-size: 85%;
	font-weight: normal;
}

.drop-list li:hover {
	background-color: #c7d9ea;
	cursor: pointer;
	font-weight: bold;
}

/*Header styles begin here*/
#po_header_links	a {
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	vertical-align: middle;
}

#po_header_links	a:hover {
	color: #ffffff;
	text-decoration: underline;
}

#po_header_links	b {
	color: #333333;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	vertical-align: middle;
}

#po_header_links	b:hover {
	color: #333333;
	text-decoration: underline;
}

ul#po_header_links	li {
	float: left;
	padding: 1px;
	padding-left: 12px;
	padding-right: 12px;
	/*border: solid 1px #cccccc;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
	/*background-color: #5a88b9;*/
	background-color: transparent;
	vertical-align: middle;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	behavior: url(ie-css3.htc);
}

ul#po_header_links {
	line-height: 14px;
	margin-top: 6px;
	width: 100%;
}

ul#po_header_links	li.right {
	float: right;
	padding: 1px;
	padding-left: 12px;
	padding-right: 12px;
	border: solid 1px transparent;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
	vertical-align: middle;
	background-color: transparent;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	behavior: url(ie-css3.htc);
}

.submit-button {
	border: 0px;
	width: 70px;
	height: 30px;
	background-color: #ffffff;
	background-image: url("images/login/submit.gif");
}

.frm_loading {
	color: red;
	font-size: 12px;
	font-weight: bold;
	display: inline;
}

.frm_mode {
	color: #26a0d0;
	font-size: small;
	/*font-weight: bold;*/
	margin-left: 1em;
}

fieldset {
	position: relative;
	border-top: solid 1px #cacaca;
}

legend {
	display: block;
}

legend span {
	display: block;
	position: absolute;
	top: -20px;
	left: 100px;
	font-weight: bold;
	font-size: 13px;
	font-color: #1D3652;
}

.help-table {
	background-color: #666d73;
	border: solid 1px #999999;
	/*
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	*/
}

.help-text-box {
	width: 160px;
	font-size: 10px;
	height: 20px;
}

.help-combo-box {
	width: 160px;
	font-size: 10px;
	height: 20px;
}

.help-go-button {
	border: solid 1px #AAAAAA;
	width: 60px;
	height: 20px;
	background-color: #BDBFBC;
	/*background-image: url("images/login/reset.gif");*/
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	behavior: url(ie-css3.htc);
	margin-top: 1px;
	margin-bottom: 1px;
	font-weight: bold;
	font-size: 70%;
	color: #333333;
}

.help-close-link {
	float: right;
	text-decoration: underline;
	color: #fff;
	font-size: 11px;
	padding-right: 1em;
	cursor: pointer
}

.help-header {
	padding: 0px;
	height: 24px;
	width: 100%;
	background-color: #CACACA;
	z-index: 202;
	overflow: hidden;
	border: solid 1px #888888;
}

.help-handle {
	height: 320px;
	width: 440px;
	display: none;
}

.menu_detail {
	font-weight: bold;
	font-size: 13px;
	color: #333333;
	text-decoration: none;
	padding-right: 1.0em;
	padding-left: 1.0em;
}

.menu_detail:hover {
	font-weight: bold;
	font-size: 13px;
	color: #333333;
	text-decoration: underline;
}

.user_detail {
	font-weight: bold;
	font-size: 12px;
	color: darkblue;
	text-decoration: none;
	cursor: default;
}

.user_detail:hover {
	font-weight: bold;
	font-size: 12px;
	color: darkblue;
	text-decoration: none;
}

.info-message {
	line-height: 32px;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	color: #666D82;
}

.user-message {
	text-align: left;
	color: #666D82;
	font-size: 11px;
	font-weight: normal;
}

.option-box {
	border: solid 1px #c3c3c3;
	border: none;
	padding: 2px;
	padding-bottom: 5px;
	margin: 2px;
	margin-bottom: 4px;
	display: block;
	background-color: #FFFFFF;
}

.robo-over {
	color: #0000ff;
	text-decoration: underline;
	cursor: help;
}

.branding-name {
	background-image: url(images/branding/hdrname.gif);
	background-repeat: repeat-x;
	width: 100%;
	height: 113px;
}

.branding-right-repeat {
	background-image: url(images/branding/hdrrightrpt.gif);
	background-repeat: repeat-x;
	height: 113px;
	width: 100%;
}

.pg-nav-left {
	vertical-align: middle;
}

.pg-nav-right {
	vertical-align: middle;
}

.pg-data {
	border: solid 1px;
	border-color: white;
	border-right-width: 5px;
	border-bottom-width: 5px;
	border-left-width: 5px;
	border-top-width: 5px;
	width: 128px;
	height: 128px;
}

.pg-imgborder {
	border: solid 1px;
	border-top: solid 1px;
	border-bottom: solid 1px;
	border-left: solid 1px;
	border-right: solid 1px;
	width: 128px;
	height: 128px;
	border-color: #C3C3C3;
}

.pg-drow {
	float: left;
}

.pg-row {
	float: left;
}

.pg-table {
	width: 128px;
	margin: 0px;
}

.pg-imageno {
	font-size: 14px;
	color: #1D3652;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	margin-left: 50px;
}

.pg-loading {
	color: red;
	font-size: 12px;
	font-weight: bold;
}

/*stephenson  added  21-sep-2011 BEGIN*/
/*
MENU STYLE BEGINS
*/
#po_menu {
	
}

.menustyle {
	width: 100%;
	height: 30px;
	margin: 0px;
	padding: 0px;
	border: 0px;
	vertical-align: bottom;
	background-color: #1D3652;
}

.menustyle ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
	font: bold 12px Arial;
}

.menustyleline {
	border: 0;
	clear: both;
	font-size: 1px;
	height: 1px;
	line-height: 1px;
	margin: 0px;
	padding: 0;
	width: 100%;
	background-color: #566475;
	margin-top: 1px;
	margin-bottom: 4px;
}

.menustyle:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.menustyle ul li {
	display: inline;
	margin: 0;
	margin-left: 2px;
	margin-right: 2px;
	padding: 0;
}

.menustyle ul li a {
	position: relative;
	float: left;
	display: block;
	color: #004993;
	margin: 0;
	margin-left: 2px;
	margin-right: 2px;
	padding-left: 1.5em;
	padding-right: 1.5em;
	text-decoration: none;
	font-family: Tahoma;
	font-size: 12px;
	line-height: 28px;
	border: 1px solid #1D3652;
	border-bottom: none;
	color: #ffffff;
}

.menustyle ul li a  img {
	vertical-align: middle;
	height: 24px;
}

.menustyle ul li a:hover {
	text-decoration: none;
	background-color: #6699CC;
}

.menustyle ul li a.selected {
	text-decoration: none;
	background-color: #6699CC;
}

#po_submenu {
	width: 210px;
	margin-left: 5px;
}

.glossymenu {
	margin: 5px 0;
	padding: 0;
	width: 210px;
	border: 1px solid #9A9A9A;
	border-bottom-width: 0;
}

.glossymenu a.menuitem {
	background-color: #1D3652;
	font: bold 12px "Lucida Grande", "Trebuchet MS", Verdana, Helvetica,
		sans-serif;
	color: white;
	display: block;
	position: relative;
	width: 210px;
	padding: 4px 0;
	text-decoration: none;
	margin-bottom: 1px;
}

.glossymenu a.menuitem:visited,.glossymenu .menuitem:active {
	color: white;
}

.glossymenu a.menuitem .statusicon {
	position: absolute;
	top: 6px;
	right: 5px;
	vertical-align: middle;
	border: none;
}

.glossymenu a.menuitem b {
	color: white;
	cursor: default;
	font-size: 12px;
	font-weight: bold;
	padding-left: 10px;
	position: relative;
	text-align: left;
	text-decoration: none;
}

.glossymenu a.menuitem:hover {
	background-color: #6699CC;
}

.glossymenu div.submenu {
	background: white;
	width: 210px;
}

.glossymenu div.submenu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 210px;
}

.glossymenu div.submenu ul li {
	border-bottom: 1px solid #999999;
}

.glossymenu div.submenu ul li a {
	display: block;
	font: normal 12px "Lucida Grande", "Trebuchet MS", Verdana, Helvetica,
		sans-serif;
	color: black;
	text-decoration: none;
	padding: 2px 0;
	padding-left: 16px;
}

.glossymenu div.submenu ul li a:hover {
	background: #C7DAED;
	colorz: white;
}

.glossymenu div.submenu ul li a.selected {
	background: #C7DAED;
	font-weight: bold;
}

.glossymenu div.submenu ul li a .servsign {
	position: absolute;
	left: 16px;
	vertical-align: middle;
	border: none;
	color: #333333;
	cursor: default;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	vertical-align: middle;
	text-align: center;
	margin-left: 3px;
}

.parent_title {
	color: #333333;
	font-size: 15px;
	text-decoration: underline;
	padding-right: 10px;
	cursor: pointer;
	float: left;
}

/*MENU STYLE ENDS*/
/*stephenson  added 21-sep-2011 END*/
.branding-repeat {
	display: block;
	background-color: #213e66;
	height: 70px;
	min-height: 70px;
	text-align: left;
}

.user-details {
	position: absolute;
	background-color: transparent;
	margin-left: 1px;
	margin-right: 1px;
	overflow: hidden;
	padding-bottom: 1px;
	padding-left: 3px;
	padding-right: 1px;
	padding-top: 1px;
	white-space: nowrap;
	border: none;
	top: 18px;
	right: 10px;
}

.user-details-wrapper {
	float: left;
	width: 100%;
	vertical-align: middle;
}

.user-details-wrapper:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.user-details-wrapper ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
	height: 22px;
}

.user-details-wrapper ul li {
	display: inline;
	margin: 0;
	margin-left: 2px;
	margin-right: 2px;
	padding: 0;
}

.user-details-wrapper ul li b {
	position: relative;
	float: left;
	display: block;
	margin: 0;
	margin-left: 0px;
	margin-right: 2px;
	padding: 0px;
	text-decoration: none;
	line-height: 22px;
	color: #333333;
	font-size: 9pt;
	font-weight: normal;
}

.user-details-wrapper ul li b.value {
	font-weight: bold;
	padding-right: 0.2em;
}

.action-button {
	padding: 0px;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 1px;
	overflow: visible;
	white-space: nowrap;
	margin: 1px;
	font-size: 11px;
	font-weight: normal;
	background-color: #CFDBEF;
	border-top: solid 1px #C3C3C3;
	border-bottom: solid 1px #797975;
	border-left: solid 1px #AFAFAF;
	border-right: solid 1px #AFAFAF;
	background-image: url(images/button_bg_n.png);
	background-repeat: repeat-x;
	min-width: 70px;
}

.action-button:active {
	background-color: #DDDDD8;
	background-image: url(images/button_bg_md.png);
	background-repeat: repeat-x;
}

.action-button:hover {
	background-color: #DDDDD8;
	background-image: url(images/button_bg_md.png);
	background-repeat: repeat-x;
}

.announcement_div {
	color: red;
	border: 1px solid #00BFFF;
	background-color: #f5f5f5;
}

.announcement_head {
	text-align: center;
	height: 30px;
	color: #00008b;
	padding-top: 8px;
	font-size: 12px;
}

.announcemnet_Detail {
	padding-left: 2px;
	height: 220px;
	color: #A9A9A9;
}

.announcement_mar {
	height: 220px;
}

.announcementafterlogin_div {
	color: red;
	width: 300px;
	height: 200px;
	border: 1px solid #00BFFF;
	background-color: #f5f5f5;
}

.announcemnetafterlogin_Detail {
	padding-left: 2px;
	height: 170px;
	color: #A9A9A9;
}

.announcement_link {
	display: inline-block;
	text-align: justify;
	padding: 6px;
	font-size: 11px;
	color: #A9A9A9;
}

.announcementafterlogin_mar {
	height: 160px;
}

.nav-category {
	background-color: #edf2f8;
	margin-top: 2px;
	margin-left: 1px;
	margin-right: 1px;
	overflow: hidden;
	padding-bottom: 1px;
	padding-left: 3px;
	padding-right: 1px;
	padding-top: 1px;
	white-space: nowrap;
	border: none;
	border-bottom: solid 1px #C3C3C3;
	height: 26px;
}

.nav-category-wrapper {
	float: left;
	width: 100%;
	vertical-align: middle;
}

.nav-category-wrapper:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.nav-category-wrapper ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
	height: 22px;
}

.nav-category-wrapper ul li {
	display: inline;
	margin: 0;
	margin-left: 2px;
	margin-right: 2px;
	padding: 0;
}

.nav-category-wrapper ul li b {
	position: relative;
	float: left;
	display: block;
	margin: 0;
	margin-left: 0px;
	margin-right: 2px;
	padding: 0px;
	text-decoration: none;
	line-height: 22px;
	color: #333333;
	font-size: 9pt;
	font-weight: normal;
}

.nav-category-wrapper ul li b.value {
	font-weight: bold;
	padding-right: 0.2em;
}

.viewpart {
	border: solid 1px #AAAAAA;
	margin-top: 0.5em;
	margin-bottom: 0.2em;
	padding-bottom: 0.2em;
}

.viewpartinline {
	border: none;
}

.content-form {
	margin-top: 0.2em;
	min-height: 300px;
}

.content-view {
	min-height: 300px;
}

.content-custom {
	margin-top: 0.2em;
	min-height: 300px;
}

.yuimenu {
	top: -999em;
	left: -999em;
}

.yuimenu li {
	list-style: none;
}

.yuimenubar {
	position: static;
}

.yuimenu .yuimenu,.yuimenubar .yuimenu {
	position: absolute;
}

.yuimenubar li,.yuimenu li {
	list-style-type: none;
}

.yuimenubar ul,.yuimenu ul,.yuimenubar li,.yuimenu li,.yuimenu h6,.yuimenubar h6
	{
	margin: 0;
	padding: 0;
}

.yuimenuitemlabel,.yuimenubaritemlabel {
	text-align: left;
	white-space: nowrap;
}

.yuimenubar ul {
	*zoom: 1;
}

.yuimenubar .yuimenu ul {
	*zoom: normal;
}

.yuimenubar>.bd>ul:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	line-height: 0;
}

.yuimenubaritem {
	float: left;
}

.yuimenubaritemlabel,.yuimenuitemlabel {
	display: block;
}

div.yui-skin-sam {
	width: 99%;
	margin-left: auto;
	margin-right: auto;
}

.yui-skin-sam .yuimenubar {
	display: block;
	position: static;
	visibility: visible;
	z-index: 0;
	font-size: 93%;
	line-height: 2;
	height: 24;
	*line-height: 1.9;
	border: solid 1px #808080;
	background: url(images/menu/sprite.png) repeat-x 0 0;
}

.yui-skin-sam .yuimenubarnav .yuimenubaritem {
	border-right: solid 1px #ccc;
}

.yui-skin-sam .yuimenubaritemlabel {
	padding: 0 10px;
	color: #000;
	text-decoration: none;
	cursor: default;
	border-style: solid;
	border-color: #808080;
	border-width: 1px 0;
	*position: relative;
	margin: -1px 0;
	font-size: 13px;
}

.yui-skin-sam .yuimenubaritemlabel:visited {
	color: #000;
}

.yui-skin-sam .yuimenubarnav .yuimenubaritemlabel {
	padding-right: 20px;
	height: 24;
	*display: inline-block;
}

.yui-skin-sam .yuimenubarnav .yuimenubaritemlabel-hassubmenu {
	background: url(images/menu/menubaritem_submenuindicator.png) right
		center no-repeat;
}

.yui-skin-sam .yuimenubaritem-selected {
	background: url(images/menu//sprite.png) repeat-x 0 -1700px;
}

.yui-skin-sam .yuimenubaritemlabel-selected {
	border-color: #7D98B8;
}

.yui-skin-sam .yuimenubarnav .yuimenubaritemlabel-selected {
	border-left-width: 1px;
	margin-left: -1px;
	*left: -1px;
}

.yui-skin-sam .yuimenu {
	font-size: 93%;
	line-height: 1.5;
	*line-height: 1.45;
}

.yui-skin-sam .yuimenubar .yuimenu,.yui-skin-sam .yuimenu .yuimenu {
	font-size: 100%;
	z-index: 1;
	position: absolute;
	visibility: hidden;
}

.yui-skin-sam .yuimenu .bd {
	*zoom: 1;
	_zoom: normal;
	border: solid 1px #808080;
	background-color: #fff;
}

.yui-skin-sam .yuimenu .yuimenu .bd {
	*zoom: normal;
}

.yui-skin-sam .yuimenu ul {
	padding: 3px 0;
	border-width: 1px 0 0 0;
	border-color: #ccc;
	border-style: solid;
}

.yui-skin-sam .yuimenu ul.first-of-type {
	border-width: 0;
}

.yui-skin-sam .yuimenu h6 {
	font-weight: bold;
	border-style: solid;
	border-color: #ccc;
	border-width: 1px 0 0 0;
	color: #a4a4a4;
	padding: 3px 10px 0 10px;
}

.yui-skin-sam .yuimenu ul.hastitle,.yui-skin-sam .yuimenu h6.first-of-type
	{
	border-width: 0;
}

.yui-skin-sam .yuimenuitem {
	_border-bottom: solid 1px #fff;
}

.yui-skin-sam .yuimenuitemlabel:visited {
	color: #000;
}

.yui-skin-sam .yuimenuitem-selected {
	background-color: #B3D4FF;
}

.yui-skin-sam .yuimenuitem-hassubmenu {
	background-image: url(images/menu/menuitem_submenuindicator.png);
	background-position: right center;
	background-repeat: no-repeat;
}

.yui-skin-sam .yuimenuitemlabel {
	padding: 0 20px;
	color: #000;
	text-decoration: none;
	cursor: default;
	font-size: 13px;
}

.yui-skin-sam .yuimenuitemleft {
	_border-bottom: solid 1px #fff;
	text-align: left;
}

.yuimenuitemlabelleft,.yuimenubaritemlabelleft {
	text-align: left;
	white-space: nowrap;
	*display: inline-block;
}

.yuimenuitemlabelleft {
	display: block;
}

.yui-skin-sam .yuimenubarnav .yuimenuitemlabelleft {
	padding-left: 20px;
	height: 24;
	*display: inline-block;
}

.yui-skin-sam .yuimenuitemleft-hassubmenu {
	background: url(images/menu/menubaritem_submenuindicator_left.png) left
		center no-repeat;
}

.yui-skin-sam .yuimenuitemlabelleft {
	padding: 0 20px;
	color: #000;
	text-decoration: none;
	cursor: default;
	font-size: 13px;
}

.yui-skin-sam .yuimenuitemleft-selected {
	background-color: #B3D4FF;
	display: block;
}

.grid_hover {
	background-color: #aaa0a0;
}

.display-grid {
	font-size: 10px;
	border-collapse: collapse;
	margin: 1em;
	background-color: #FFFFFF;
}

.stage-grid {
	background-color: #EEEEEE;
}

.task-grid {
	background-color: #FFF1CC;
}

.display-grid tr {
	line-height: 22px;
}

.display-grid th {
	font-size: 11px;
	font-weight: bold;
	font-weight: bold;
	padding-left: 0.5em;
	border: solid 1px #999999;
}

.display-grid td {
	padding-left: 0.5em;
	border: solid 1px #999999;
}

.message-row {
	font-size: 9pt;
	font-weight: bold;
	text-align: left;
}

.info-row,.success-row,.warn-row,.error-row,.validation-row,.progress-row
	{
	border: 1px solid;
	margin: 4px;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	padding: 4px 8px 4px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
}

.info-row {
	color: #00529B;
	background-color: #EDF2F8;
	background-image: url('images/message-info.png');
}

.success-row {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image: url('images/message-success.png');
}

.warn-row {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('images/message-warn.png');
}

.error-row {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('images/message-error.png');
}

.progress-row {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('images/message-progress.gif');
}

.validation-row {
	color: #D63301;
	background-color: #FFCCBA;
	background-image: url('images/message-validation.png');
}

.img-body {
	margin: 0;
	padding: 0;
	background-color: #D3E2E5;
}

.content {
	*margin-top: 20px;
	margin-bottom: 15px;
}

#content {
	margin-top: 65px;
	margin-bottom: 20px;
}

.content:before {
	clear: both;
	content: "";
	display: block;
}

.content:after {
	clear: both;
	content: "";
	display: block;
}

.img-content {
	*background-color: grey;
	width: 488px;
	*width: 364px;
	margin-left: 244px;
	margin-right: 244px;
	min-height: 366px;
	max-height: 366px;
}

#img-content {
	width: 367px;
	margin-left: 234.5px;
	margin-right: 234.5px;
}

.image {
	display: inline-block;
	*border: 1px solid #4aa7ff;
	border: 1px solid #cccccc;
	width: 362px;
	*margin-left: -5px;
	margin-right: -5px;
	min-height: 364px;
	max-height: 364px;
	overflow: auto;
}

.singleimage {
	display: inline-block;
	width: 362px;
	*margin-left: -5px;
	margin-right: -5px;
	min-height: 364px;
	max-height: 364px;
}

#image {
	display: inline-block;
	*border: 1px solid #cccccc;
	width: 365px;
	min-height: 364px;
	max-height: 364px;
}

.image img {
	float: left;
	width: 362px;
	height: 364px;
}

#image img {
	float: left;
	width: 365px;
	height: 364px;
}

#picture-slides-thumbnails {
	list-style: none;
	-webkit-padding-start: 0;
	margin-bottom: 10px;
}

#picture-slides-thumbnails li {
	display: inline-block;
	margin-right: 10px;
	border: 2px solid #DCDCDC;
	border-radius: 5px;
	padding: 5px;
}

#picture-slides-thumbnails li a img {
	border-radius: 5px;
	width: 100px;
	height: 100px;
}

#picture-slides-thumbnails li:hover {
	border: 2px solid #4aa7ff;
}

#picture-slides-thumbnails li a:active {
	border-color: #4aa7ff;
}

.prev {
	*border: 1px solid;
	display: inline-block;
	width: 61px;
	min-height: 364px;
	max-height: 364px;
}

.prev a {
	float: left;
	margin-top: 183px;
}

.prev a img {
	width: 30px;
	margin-left: 15px;
}

.next {
	*border: 1px solid;
	display: inline-block;
	*width: 61px;
	min-height: 364px;
	max-height: 364px;
}

.next a {
	float: left;
	margin-top: 183px;
}

.next a img {
	width: 30px;
	margin-left: 15px;
}

.thumbnail-content {
	white-space: nowrap;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	width: 96%;
	overflow-x: auto;
}

.divider {
	width: 95.6%;
	height: 0px;
	border-top: 1px solid #eeeeee;
	margin-top: 10px;
	*margin-left: 21px;
}

#image-slider {
	border: none;
	margin: 0;
	padding: 0;
}

#po_footer_messages {
	color: #444444;
	font-size: 11.3px;
}

.zoom-div {
	padding-left: 31.5%;
	padding-right: 31.5%;
	margin-top: 10px;
	margin-bottom: 5px;
}

.zoom-div:before {
	clear: both;
	content: "";
	display: block;
}

.zoom-div:after {
	clear: both;
	content: "";
	display: block;
}

.zoom-btn-content {
	display: inline-block;
	margin-left: 50px;
}

.zoom-btn-content a {
	text-decoration: none;
	display: inline-block;
	background: -webkit-linear-gradient(top, #ffffff 0%, #e9e9e9 100%);
	padding: 2.5px 5px;
	border: 1px solid #aaaaaa;
	border-radius: 2px;
}

.zoom-btn-content a:hover {
	background: -webkit-linear-gradient(top, #f1f1f1 0%, #e5e5e5 100%);
	cursor: pointer;
}

div.dhx_modal_cover_dv {
	position: fixed !important;
}

div.dhtmlx_window_active {
	position: fixed !important;
}

.dhxvlt_lbtn2 span,.dhxvlt_rbtn2 span {
	display: inline-block;
	padding-top: 4px;
}

.dhxvlt_lbtn2 img,.dhxvlt_rbtn2 img {
	margin-top: -2px !important;
}

#color span {
	display: inline-block;
	width: 10px;
	height: 10px;
	border: solid 1px #C3C3C3;
}

#color p {
	color: #333333;
	font-size: x-small
}

#color span.add {
	background-color: #666D82;
}

#color span.change {
	background-color: orange;
}

#color span.remove {
	background-color: red;
}

#color span.insert {
	background-color: grey;
}

.user,.code,.password,.text {
	padding: 0 4px;
	height: 32px;
}

.form_table td {
	padding: 6px 4px;
}

.form-horizontal .control-label {
	font-size:small;
	font-weight:initial;
}

.level4_heading {
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}

.level2_title {
	background-color: #666d73;
	color: #fff;
	border: 0px;
	font-size: medium;
	/*font-weight: bold;*/
	padding: 6px 4px;
}

.level3_title {
	background-color: #666D82;
	color: #fff;
	border: 0px;
	font-size: medium;
	/*font-weight: bold;*/
	border: 0px;
	padding: 6px 4px;
}

.row_head {
	background-color: #666D82;
	color: #fff;
	border: 0px;
}

.navbar-brand {
	width: 137px;
	height: 80px;
	/* background-image: url(images/branding/BSMS-65.png); */
	/*background-image: url(images/branding/MBS-72.png);*/
	background-image: url(images/branding/envoyer-32x156.png);
	background-repeat: no-repeat;
	background-position: center center;
	margin-top: -15px;
}

.navbar-info {
	float: left;
	padding: 20px;
	padding-left: 0px;
	padding-right: 0px;
	line-height: 20px;
}

.navbar-info div.entity-name {
	font-size: 20px;
	font-weight: 700;
}

.navbar-info div.entity-location {
	font-size: 13px;
	font-weight: normal;
}

.navbar>.container .navbar-info,.navbar>.container-fluid .navbar-info {
	margin-left: -15px;
}

.navbar-inverse .navbar-info div.entity-name {
	*color: #999;
	color: #fff;
}

.navbar-inverse .navbar-info div.entity-location {
	*color: #777;
	color: #fff;
}

.smartSearchBox {
	padding-top:12px;
	float:left;
	display:none;
}

.smartSearchIcon {
	float: left;
	display: inline-block;
	padding: 5px;
	width: 10%;
	font-size: 14px;
}

input.smartSearchInput {
	width: 240px;
	margin: auto;
	height: 24px;
	font-size: 10pt;
	font-weight: normal;
	float: none;
	outline: 0;
	border: 0;
	padding-left: 5px;
}

select.smartSearchInput {
	width: 210px;
	margin: auto;
	height: 24px;
	font-size: 9pt;
	font-weight: normal;
	float: none;
	text-align: center;
}

div.gridbox {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.form-horizontal .control-label {
	text-align: left;
}

.nav-icon {
	padding: 0.1em 0.5em !important;
}

a.nav-icon:hover {
	color: #999 !important;
}

.offcanvas-menu {
	width: 280px;
	position: fixed;
	left: 0px;
	top: 51px;
	border-top: 0px;
	border-bottom: 0px;
	border-left: 0px;
	background: transparent;
	/**MSPR TO CLEAR WHITE SCREEN ISSUE**/
	-webkit-transform: translateZ(0);
	z-index: 100;
	background: transparent;
	border-top: 0px;
	display: none;
}

.overlay {
	z-index: 1000;
	/*MSPR 160602014 OVERLAY TOP THE TOP*/
	top: 0px;
}

.adjust-menu {
	margin-left: 270px;
}

.main-content {
	overflow-y: auto;
	overflow-x: hidden;
	/*height: 100%;*/
	/*max-height: 100%;*/
	margin-top: 48px;
}

.login-bg {
	background: url(images/envoyerlogin.jpg) no-repeat !important;
	background-size: 100% 100% !important;
	height: 560.5px !important;
}

.form-container {
	
}

.navbar-fixed-top,.navbar-fixed-bottom {
	z-index: 100;
	position: fixed;
}

.drop-shadow {
	-webkit-box-shadow: 0 1px 5px #888;
	-mozilla-box-shadow: 0 1px 5px #888;
	box-shadow: 0 1px 5px #888;
}

.navbar-nav span.user-name {
	font-size: 13px;
	/*font-weight: 700;*/
	margin: 0.2em;
	float: left;
	color: #fff;
}

.navbar-nav span.user-role {
	font-size: 13px;
	font-weight: 700;
	margin: 0.2em;
	float: left;
}

.navbar-nav span.cbd {
	font-size: 13px;
	/*font-weight: 700;*/
	margin: 0.2em;
	float: left;
	color: #fff;
}

.navbar-nav span.user-office {
	font-size: 13px;
	/*font-weight: 700;*/
	margin: 0.2em;
	color: #fff;
}

.dhxwins_vp_dhx_web div.dhxwin_active {
	position: fixed;
}

.dhxwins_vp_dhx_web div.dhxwins_mcover {
	position: fixed;
}

.inline-popup {
	width: 100%;
	overflow-y: auto;
	height: 100%;
}

.additionalInfo_title {
	background-color: #666d73;
	color: #fff;
	border: 0px;
	font-size: 14px;
	font-weight: bold;
	padding: 6px 4px;
	text-align: center;
}

.additionalInfo_key {
	font-size: 12px;
	font-weight: bold;
	color: #666D82;
	text-align: left;
	position: relative;
	padding: 0px;
	margin: 0px;
}

.additionalInfo_value {
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	position: relative;
	padding: 0px;
}

a.back-to-top {
    display: none;
    width: 60px;
    height: 60px;
    text-indent: -9999px;
    position: fixed;
    z-index: 999;
    right: 36px;
    bottom: 20px;
    background: #375b6d url(images/up-arrow.png) no-repeat center 43%;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
a:hover.back-to-top {
    background-color: #000;
}
.btn-width{
	width: 80px;
}


.console-description {
	color: grey;
	font-size: 9pt;
}

* {margin: 0; padding: 0;}

/*body {
	background: #4EB889;
	font-family: Nunito, arial, verdana;
}*/
#accordian {
	background: #6B736C;
	width: 250px;
	margin: 0px auto 0 auto;
	color: white;
	font-family : sans-serif;
	box-shadow: 
		0 5px 15px 1px rgba(0, 0, 0, 0.6), 
		0 0 200px 1px rgba(255, 255, 255, 0.5);
}

#accordian h3 {
	background: #c9bbbb; 
	/*background: linear-gradient(#c9bbbb, #998b8b);*/
	padding: 0 6px;
	font-size: 15px;
	line-height: 34px;
	display: block;
	color: white;
	text-decoration: none;
	font-weight:normal;
}


#accordian h3:hover {
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}

#accordian h3 span {
	font-size: 16px;
	margin-right: 10px;
}

#accordian h2 {
	background: #758787; 
	/*background: linear-gradient(#003040, #002535);*/
	padding: 0 15px;
	font-size: 13px;
	line-height: 34px;
	display: block;
	color: white;
	text-decoration: none;
}


#accordian h2:hover {
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}

#accordian h2 span {
	font-size: 16px;
	margin-right: 10px;
}
#accordian li {
	list-style-type: none;
}

#accordian ul ul li a, #accordian h2 {
	color: white;
	text-decoration: none;
	font-size: small;
	line-height: 32px;
	display: block;
	font-weight: lighter
	transition: all 0.15s;
	position: relative;
}

#accordian ul ul li a:hover {
	background: #12345a;
	border-left: 2px solid lightgreen;
}

#accordian ul ul {
	display: none;
}
#accordian li.active>ul {
	display: block;
}

#accordian ul ul ul{
	margin-left: 15px; border-left: 1px dotted rgba(0, 0, 0, 0.5);
}

