<%@tag body-content="empty"  %>
<%@attribute name="property" required="true"%>
<%@attribute name="id" required="true" rtexprvalue="true"%>
<input type='checkbox' id="${id}" onblur="doblur(event,this)" onfocus="dofocus(event,this)" disabled="disabled" class="checkbox"/>
<span id="${id}_desc" class="level4_description" style="bottom:10px;padding-left:5px;"> </span>