<%@tag body-content="empty"  %>
<%@attribute name="property" required="true"%>
<%@attribute name="id" required="true" rtexprvalue="true"%>
<input type="text" id="${id}" maxlength="10" size="9" readonly="readonly" class="date" />
