<%@tag body-content="empty"  %>
<%@taglib prefix="type" tagdir="/WEB-INF/tags/web/type"%>
<%@attribute name="property" required="true"%>
<%@attribute name="id" required="true" rtexprvalue="true"%>
<input type='text' id="${id}Date" maxlength="11" size="11" readonly="readonly" class="date" />
<input type='text' id="${id}Serial" maxlength="11" size="11" readonly="readonly" class="code"/>

