<%@tag import="java.util.Locale"%>
<%@tag body-content="empty"%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<%
	String lasttopbilltype =null;
if( session.getAttribute("OPBILLTYPE")!=null)
	lasttopbilltype = session.getAttribute("OPBILLTYPE").toString();
%>
<script type="text/javascript">
	var eopbilldefaulttype = "<%=lasttopbilltype%>";
</script>
