<%@tag body-content="empty"%>
<%@attribute name="property" required="true"%>
<%@attribute name="id" required="true" rtexprvalue="true"%>
<textarea rows="24" cols="71" style="font-family:Courier New" id="${id}"  readonly="readonly" class="text"></textarea>
