<%@tag body-content="empty"  %>
<%@taglib prefix="web" tagdir="/WEB-INF/tags/web"%>
<%@taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<%@attribute name="property" required="true"%>
<%@attribute name="id" required="true"%>
<input type='text' id="${property}_title" maxlength="3" size="3" readonly="readonly" class="text" />
<input type='text' id="${property}" maxlength="100" size="60" readonly="readonly" class="text" />



