<%@tag body-content="empty"  %>
<%@attribute name="property" required="true"%>
<%@attribute name="id" required="true" rtexprvalue="true"%>
<input type='text' id="${id}IPYear" maxlength="4" size="2" readonly="readonly" class="text" />
<input type='text' id="${id}IPSerial" maxlength="8" size="6" readonly="readonly" class="text" />
<input type='text' id="${id}EntryDate" maxlength="8" size="6" readonly="readonly" class="text" />
<input type='text' id="${id}" maxlength="5" size="2" readonly="readonly" class="text" />