<%@tag body-content="empty" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<%@taglib uri="http://struts.apache.org/tags-html" prefix="html"%>
<%@attribute name="property" required="true"%>
<%@attribute name="id" required="true" rtexprvalue="true"%>
<%@attribute name="readOnly" required="false" type="java.lang.Boolean"%>
<%@attribute name="descRequired" required="false" type="java.lang.Boolean"%>

<c:choose>
	<c:when test="${readOnly eq true}">
		<html:text styleClass="text" styleId="${id}" property="${property}" maxlength="4" size="2" readonly="true" />
		<html:text styleClass="text" styleId="${id}Serial" property="${property}Serial" maxlength="8" size="6" readonly="true" />
		<c:choose>
			<c:when test="${descRequired eq true}">
				<span id="${id}_desc" class="level4_description"> </span>
			</c:when>
		</c:choose>
	</c:when>
	<c:otherwise>
		<html:text styleClass="text" styleId="${id}" property="${property}" maxlength="4" size="2" onblur="doblur(event,this)" onfocus="dofocus(event,this)" onkeyup="dokeyup(event,this)" />
		<html:text styleClass="text" styleId="${id}Serial" property="${property}Serial" maxlength="8" size="6" onblur="doblur(event,this)" onfocus="dofocus(event,this)" onkeyup="dokeyup(event,this)" />
		<input type="image" class="help pic" src="public/styles/images/search.png" id="${id}Serial_pic" onclick="showHelp('${id}Serial',event);return false" />
		<c:choose>
			<c:when test="${descRequired eq true}">
				<span id="${id}_desc" class="level4_description"> </span>
			</c:when>
		</c:choose>
	</c:otherwise>
</c:choose>
<span id="${id}_error" class="level4_error"> <html:errors property="${property}" /> </span>