<%@tag body-content="empty"  %>
<%@taglib prefix="web" tagdir="/WEB-INF/tags/web"%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<%@attribute name="id" required="true"%>
<%@attribute name="key" required="true" %>
<%@attribute name="onclick" required="true" %>
<%@attribute name="width" required="false" %>
<%@attribute name="var" required="true" rtexprvalue="true"%>
<%@attribute name="styleClass" required="false" rtexprvalue="true"%>
<web:message var="${var}" key="${key}" draw="draw"/>
<%
	String value=(String)request.getAttribute("message");
%>
<input type="button" id="${id}" name="${id}" style="width:${width};" accesskey="S" value='<%=value %>' onclick="${onclick}" />
