<%@tag body-content="empty" %>
<%@taglib uri="http://struts.apache.org/tags-html" prefix="html"%>
<%@attribute name="property" required="true"%>
<%@attribute name="id" required="true" rtexprvalue="true"%>
<div class="input number" id="${id}_div"><html:text styleId="${id}" property="${property}" maxlength="5" onblur="doblur(event,this)" onfocus="dofocus(event,this)" styleClass="text" /></div>
<span id="${id}_error" class="level4_error"> <html:errors property="${property}" /> </span>