<%@tag body-content="empty"  %>
<%@attribute name="property" required="true"%>
<%@attribute name="id" required="true" rtexprvalue="true"%>
<input type='password' id="${id}" maxlength="32" size="30" readonly="readonly" class="password" />
