<%@tag body-content="empty"  %>
<%@taglib prefix="web" tagdir="/WEB-INF/tags/web"%>
<%@taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<%@attribute name="property" required="true"%>
<%@attribute name="id" required="true"%>

<input type='text' id="${property}_title1" maxlength="3" size="3" readonly="readonly" class="text" />

<input type='text' id="${property}_title2" maxlength="3" size="3" readonly="readonly" class="text" />

<input type='text' id="${property}_name" maxlength="75" size="75" readonly="readonly" class="text" />



