<%@tag body-content="empty" %>
<%@attribute name="property" required="true"%>
<%@attribute name="id" required="true" rtexprvalue="true"%>
<input type="text" id="${id}Date" maxlength="10" size="14" readonly="readonly" class="date" />
<input type='text' id="${id}Serial" maxlength="5" size="5" readonly="readonly" class="text" />

