<%@tag body-content="empty"  %>
<%@taglib uri="http://struts.apache.org/tags-html" prefix="html"%>
<%@attribute name="property" required="true"%>
<%@attribute name="id" required="true" rtexprvalue="true"%>
<html:textarea rows="0" cols="50" styleId="${id}" property="${property}" onblur="doblur(event,this)" onfocus="dofocus(event,this)" styleClass="code" />
<span id="${id}_error" class="level4_error"> <html:errors property="${property}" /> </span>