<%@attribute name="id" required="true"%>
<%@attribute name="selected" required="false" type="java.lang.Boolean"%>
<div id="${id}">
<%-- <div id="${id}" style="display: none;"> --%>
	<jsp:doBody />
</div>
