<%@tag body-content="empty"%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<%@taglib uri="http://struts.apache.org/tags-html" prefix="html"%>
<%@attribute name="property" required="true"%>
<%@attribute name="id" required="true" rtexprvalue="true"%>

<c:choose>
	<c:when test="${readOnly eq true}">
		<html:text styleId="${id}" property="${property}" maxlength="5" size="6" readonly="true" styleClass="date" />
	</c:when>
	<c:otherwise>
		<html:text styleId="${id}" property="${property}" maxlength="5" size="6" onblur="doblur(event,this)" onfocus="dofocus(event,this)" styleClass="time" />
	</c:otherwise>
</c:choose>
<span id="${id}_error" class="level4_error"> <html:errors property="${property}" />
</span>
<script type="text/javascript">
	$('#${id}').timepicker({
		 minuteStep: 5,
         showInputs: false,
         disableFocus: true
	});
</script>