<%@tag body-content="scriptless"%>
<%@taglib prefix="web" tagdir="/WEB-INF/tags/web"%>
<body id="po_body" onload="doload(event)">
	<div id="calID" style="left: 0px; top: 0px; display: none"></div>
	<div id="mainPage" class="show-main-page"><jsp:doBody /></div>
</body>

