<%@tag body-content="scriptless"%>
<tr>
	<td align="center" height="100%" width="100%" valign="top">
	<table width="100%" cellpadding="0" cellspacing="0" border="0" class="content-custom">
		<tr>
			<td width="8"></td>
			<td style="vertical-align: top"><jsp:doBody /></td>
			<td width="8"></td>
		</tr>
	</table>
	</td>
</tr>
