<%@tag body-content="empty"%>
<%@taglib uri="http://struts.apache.org/tags-html" prefix="html"%>
<%@taglib prefix="web" tagdir="/WEB-INF/tags/web"%>
<div class="level4_info textalign-center highlight_info">
	<%
		String action = request.getParameter("_SF");
		if (action == null) {
			action = (String) request.getAttribute("_SF");
		}
		String additionalInfo = request.getParameter("_GL");
		String additionalDeatils = request.getParameter("_AD");

		if (action.equals("1")) {
	%>
	<web:message var="common" key="0000" />
	<%
		if (additionalInfo != null) {
	%>
	<%=additionalInfo%>

	<%
		}
			if (additionalDeatils != null) {
	%>
	<%=additionalDeatils%>

	<%
		}
		} else if (action.equals("0")) {
	%>
	<web:message var="common" key="9999" />
	<%
		}
	%>
</div>