<%@tag body-content="empty"  %>
<%@taglib prefix="web" tagdir="/WEB-INF/tags/web"%>
<%
	String labDetail = (String) request.getParameter("labDetail");
	String reportId = (String) request.getParameter("reportId");
	String patientId = (String) request.getParameter("patientId");
%>
<script type="text/javascript">
var labDetail = "<%=labDetail%>";
var reportId = "<%=reportId%>";
var patientId = "<%=patientId%>";

</script>

