<%@tag import="java.util.Locale"%>
<%@tag body-content="empty" 
	%>
<%
	String primaryKey = request.getParameter("pk");
	String tableType = request.getParameter("source");

	if (primaryKey == null)
		primaryKey = "";
	if (tableType == null)
		tableType = "";
%>

<script type="text/javascript">
	var _primaryKey = "<%=primaryKey%>";
	var _tableType = "<%=tableType%>";
</script>