<%@tag body-content="empty"%>
<input type="hidden" id="_UID" value="${sessionScope['_UID']}" />
<input type="hidden" id=_PN value="${sessionScope['_PN']}" />
<input type="hidden" id="_BC" value="${sessionScope['_BC']}" />
<input type="hidden" id="_CBDS" value="${sessionScope['_CBDS']}" />
<input type="hidden" id="_EC" value="${sessionScope['_EC']}" />
<input type="hidden" id="_UN" value="${sessionScope['_UN']}" />
<input type="hidden" id="_RT" value="${sessionScope['_RT']}" />
<input type="hidden" id="_RC" value="${sessionScope['_RC']}" />
<input type="hidden" id="_CC" value="${sessionScope['_CC']}" />
<input type="hidden" id="_CN" value="${sessionScope['_CN']}" />
<input type="hidden" id="_BRC" value="${sessionScope['_BRC']}" />
<input type="hidden" id="_BRN" value="${sessionScope['_BRN']}" />
<input type="hidden" id="_DF" value="${sessionScope['_DF']}" />
<input type="hidden" id="_ON" value="${sessionScope['_ON']}" />
<input type="hidden" id="_CU" value="${sessionScope['_CU']}" />
<input type="hidden" id="_ECT" value="${sessionScope['_ECT']}" />
<input type="hidden" id="_ECS" value="${sessionScope['_ECS']}" />
<input type="hidden" id="_RYPR" value="${sessionScope['_RYPR']}" />
<input type="hidden" id="_SFM" value="${sessionScope['_SFM']}" />
<input type="hidden" id="_PIDCL" value="${requestScope['_PIDCL']}" />
<input type="hidden" id="ADD_ALLOWED" value="${requestScope['ADD_ALLOWED']}" />
<input type="hidden" id="MODIFY_ALLOWED" value="${requestScope['MODIFY_ALLOWED']}" />
<input type="hidden" id="VIEW_ALLOWED" value="${requestScope['VIEW_ALLOWED']}" />
<input type="hidden" id="TEMPLATE_ALLOWED" value="${requestScope['TEMPLATE_ALLOWED']}" />
<input type="hidden" id="_CLC" value="${sessionScope['_CLC']}" />