<%@tag body-content="empty"  %>
<%
javax.servlet.http.HttpServletRequest _request = (javax.servlet.http.HttpServletRequest)request; 
_request.setAttribute("_QueryMode",(new java.lang.Boolean(true)));
%>