<%@tag body-content="empty"%>
<%@taglib prefix="type" tagdir="/WEB-INF/tags/web/type"%>
<type:submit key="form.submit" id="cmdSubmit" var="common" ajax="false" />
<type:reset key="form.reset" id="cmdReset" var="common" />